* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #8db992;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

header h1 {
    margin: 0 0 0.9% 1.9%;
    font-size: 46px;
}

header nav {
    margin: 7px 0;
    align-self: center;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav li:hover {
    background-color: #c0d8c3;
}

header nav ul li a {
    margin: 1.75em;
    padding: 5px;
    text-decoration: none;
    color: #660066;
    font-weight: lighter;
    font-size: 2.55vw;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 10%;
}

.hero h3 {
    position: absolute;
    bottom: 15px;
    right: 20px;
    margin: 0 2.55vw;
    padding: 0 1.3%;
    font-size: 26px;
    background-color: #c0d8c3;
}

.my_information {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.my_information article {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    background-color: #8db992;
}

.my_info_item h2 {
    display: flex;
    width: 25%;
    font-size: 32px;
    padding: 10px;
}

.my_info_item .article_content {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    border-left: 4px solid #660066;
    width: 100%;
    font-size: small;
}

.article_content a {
    margin: 1.75em;
    padding: 5px;
    text-decoration: none;
    color: #660066;
    font-weight: lighter;
    font-size: 1.55vw;
}

.article_content figure {
    position: relative;
}

.article_content img {
    margin: 5px;
    border: 2px solid #660066;
    width: 200px;
}

.article_content figcaption {
    position: absolute;
    bottom: 15px;
    left: 0;
    margin: 0 2.55vw;
    padding: 0 1.3%;
    font-size: 26px;
    background-color: #c0d8c3; 
}